<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .cart-item img {
            width: 100px;
            height: auto;
        }
    </style>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Cabeçalho -->
    <script src="../static/js/padroes/navbar.js"></script>

    <div class="container mt-5">
        <h1 class="mb-4">Carrinho de Compras</h1>
        <div id="cart-items"></div>
        <div class="mt-4">
            <h4>Escolha o modo de pagamento:</h4>
            <select class="form-control" id="paymentMethod">
                <option value="card">cartão</option>
                <option value="cash">dinheiro</option>
            </select>
        </div>
        <button class="btn btn-danger mt-4" onclick="esvaziarCarrinho()">Esvaziar Carrinho</button>
        <button class="btn btn-success mt-4" onclick="finalizarCompra()">Finalizar Compra</button>
        <button class="btn btn-secondary mt-4" onclick="continuaCompra()">Continuar Comprando</button>
    </div>

    
    <!-- Script para rotas de navegacao -->
   <script src="../static/js/sciptNavHtml.js"></script>
    <!-- Script para o footer -->
    <script src="../static/js/padroes/footer.js"></script>
    
    <script src="../static/js/scriptCarrinho.js"></script>
</body>

</html>